<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test">
    <!-- 구글맵 사용 위해 넣음 ysm 22-03-10 -->
    <!-- 카카오 지도 테스트용 넣음 ysh 22-03-08 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 구글맵 사용 위해 넣음 ysm 22-03-10 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> <!-- 카메라, 갤러리 사용을 위해 넣음 ysb 22-03-03 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <queries>

        <!-- WebView -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
        <!-- Youtube -->
        <intent>
            <action android:name="android.media.browse.MediaBrowserService" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".home.HomeActivity"
            android:exported="false" />
        <!--
        <activity
            android:name=".InviteLinkActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".InviteActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- setLink()에 전달하는 링크와 동일한 host, path, scheme -->
                <data
                    android:host="babysmilesupport.page.link"
                    android:path="/invite"
                    android:scheme="https" />
                <data
                    android:host="babysmilesupport.page.link"
                    android:path="/invite"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".diary.GraphActivity"
            android:exported="false" />
        <activity
            android:name=".join.JoinMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" /> <!-- 구글 맵 API 메타 데이터 추가 ysm 2022.03.10 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDcrSE1KK37_hUCnpqBFXwhStnWp9O9pHE" />

        <activity
            android:name=".diary.GraphActivity"
            android:exported="false" />
        <activity
            android:name=".join.JoinMainActivity"
            android:exported="false" />
        <activity
            android:name=".diary.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".diary.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".sns.SnsNewActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 구글 맵 API 메타 데이터 추가 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDcrSE1KK37_hUCnpqBFXwhStnWp9O9pHE" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="884cf31c300f60971b6a3d015d8c005e" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!--
provider authorities:도메인.
            public , 파일 처리를 위한 파일프로바이더.
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath" />
        </provider>
    </application>

</manifest>