<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.test">
    <!-- 카카오 지도 테스트용 넣음 ysh 22-03-08 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <queries>

        <!-- WebView -->
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="http" />
        </intent>
        <intent>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.BROWSABLE" />

            <data android:scheme="https" />
        </intent>
        <!-- Camera -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE" />
        </intent>
        <!-- Gallery -->
        <intent>
            <action android:name="android.intent.action.GET_CONTENT" />
        </intent>
        <!-- Youtube -->
        <intent>
            <action android:name="android.media.browse.MediaBrowserService" />
        </intent>
    </queries>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Test"
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true"
        android:requestLegacyExternalStorage="true">
        <receiver android:name=".diary.AlertReceiver"/>
        <activity
            android:name=".socketActivity"
            android:exported="false" />
        <!--
        <activity
            android:name=".diary.PagerActivity"
            android:exported="false" />
        -->
        <activity
            android:name=".sns.EditActivity"
            android:exported="false" />
        <activity
            android:name=".sns.GalleryActivity"
            android:exported="false" />
        <activity
            android:name=".PlaceDetailActivity"
            android:exported="false" />
        <activity
            android:name=".home.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".my.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".sns.GroDetailMainActivity"
            android:exported="false" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao9bb5096013cc3ff738a2ca42f3fd61d1" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name=".InviteLinkActivity"
            android:exported="false" />
        -->
        <!--
<activity android:name=".InviteActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER" />
                <data android:host="@string/kakaolink_host"
                    android:scheme="@string/kakao_scheme" />
            </intent-filter>

        </activity>
        -->
        <activity
            android:name=".diary.InviteActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- setLink()에 전달하는 링크와 동일한 host, path, scheme -->
                <data
                    android:host="babysmilesupport.page.link"
                    android:path="/invite"
                    android:scheme="https" />
                <data
                    android:host="babysmilesupport.page.link"
                    android:path="/invite"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity
            android:name=".diary.GraphActivity"
            android:exported="false" />
        <activity
            android:name=".join.JoinMainActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".MapActivity"
            android:exported="false" />
        <activity
            android:name=".diary.DetailActivity"
            android:exported="false" /> <!-- android:windowSoftInputMode="stateAlwaysHidden" 이거 뭐야 -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".sns.SnsNewActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- 카카오 맵 app key 추가 -->
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="9bb5096013cc3ff738a2ca42f3fd61d1" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />
        <!--
provider authorities:도메인.
            public , 파일 처리를 위한 파일프로바이더.
        -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepath" />
        </provider>
    </application>

</manifest>